
.App {
  text-align: center;
  position: relative;
  background-image: url("./imagenes/fondo.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ff9900;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fondo{
  background-color: #282c34;
}

.App-Torneos {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

:root {
  --amplify-primary-color: 	#ff9900;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control:focus {
  box-shadow: none;
}

.profile-button {
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #ff9900;
}

.profile-button:focus {
  box-shadow: none
}

.profile-button:active {
  box-shadow: none
}

.back:hover {
  color: #ff9900;
  cursor: pointer
}

.labels {
  font-size: 11px
}


